#d1 {
    position: relative;
    top:50px;
    left: 30px;
}


#d2 {
    position: relative;
    top:-520px;
    left: 1300px;
}   

.fivesquare {
    height:530px;
    width:550px;
}

#pmove {
    position:relative;
    height:530px;
    width:550px;
    left:50px;
    
}

#phmove {
    position:relative;
    height:530px;
    width:550px;
    left:100px;
    
}

